.title{
    font-size: 2rem;
    font-family:Poppins,sans-serif;
    span{
        font-size: 2rem;
    }
}
.box_data{
    button{
        padding: 0.6em 6rem 0.6em 6rem;
        color: white;
        background-color: #004050;
        border-radius: 20px;
        font-size: 1.4rem;
        border:0;
    }
}